/* VARS
 * =================================
 */
/* MIXINS
* =================================
*/
/* GENERAL
* =================================
*/
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  font-weight: unset; }

a {
  text-decoration: none;
  color: #0a0a0a; }
  a:hover {
    color: red;
    text-decoration: none;
    cursor: pointer; }

.hide,
.hidden {
  display: none !important; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  line-height: 1.15;
  margin-bottom: 15px;
  padding: 0; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
    color: white; }

p, li {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 30px; }
  p a, li a {
    text-decoration: underline; }
  p.bold, li.bold {
    font-weight: bold; }
  p.white, li.white {
    color: white; }
  p.sm, li.sm {
    font-size: 17px; }
  p.xsm, li.xsm {
    font-size: 15px; }

ul {
  list-style: none;
  padding-left: 24px; }
  ul li.subbullet {
    padding-left: 22px;
    margin-top: -10px; }
    ul li.subbullet:before {
      top: 12px;
      left: 0;
      width: 10px;
      height: 2px; }
  ul li:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background: black;
    left: -16px;
    top: 8px; }
  ul li.ast {
    left: -15px; }
    ul li.ast:before {
      display: none; }

a.button,
button.button,
span.button,
input[type="submit"].button {
  color: white;
  font-size: 17px;
  line-height: 1;
  text-decoration: none;
  background-color: black;
  padding: 16px 24px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  min-width: 220px;
  white-space: nowrap;
  border: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  a.button:before,
  button.button:before,
  span.button:before,
  input[type="submit"].button:before {
    display: none; }
  a.button i,
  button.button i,
  span.button i,
  input[type="submit"].button i {
    margin: 0 -10px 0 10px; }

.side-link .social {
  position: fixed;
  top: 220px;
  right: -50px;
  transform: rotateZ(90deg);
  background: orange;
  color: white;
  font-weight: bold;
  width: max-content; }
  .side-link .social .connect {
    border-bottom: white 2px solid; }
    .side-link .social .connect h4 {
      font-size: 20px;
      padding: 15px;
      text-align: center; }
  .side-link .social .icons {
    display: flex; }
    .side-link .social .icons div {
      border-bottom: white solid 2px;
      transform: rotateZ(-90deg);
      font-size: 20px;
      padding: 11px;
      width: 100%;
      text-align: center; }

header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 1400px; }
  header .yellow-back {
    position: absolute;
    background: yellow;
    clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
    height: 950px;
    top: 0; }
  header .header-wraper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 3%; }
    header .header-wraper .site-branding {
      position: relative;
      left: 10%;
      width: 100px;
      height: 100px;
      margin: 10px; }
    header .header-wraper .main-link {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin: 10px;
      padding: 6% 4% 0 0;
      width: 65%;
      font-weight: 600;
      font-size: 20px; }
      header .header-wraper .main-link span .link-name {
        margin: 10px; }

#top-section {
  margin-bottom: 10%;
  margin-top: 7%; }
  #top-section .contact-form {
    transform: translate(70px, 175px);
    height: 720px;
    width: 370px; }
    #top-section .contact-form .vc_column-inner {
      padding: 8%;
      position: absolute;
      width: 520px;
      background: #f2f2f2;
      height: 100%; }
      #top-section .contact-form .vc_column-inner .form-text {
        margin: 5% 0; }
        #top-section .contact-form .vc_column-inner .form-text h1 {
          font-size: 25px;
          font-weight: bold; }
          #top-section .contact-form .vc_column-inner .form-text h1:after {
            content: '';
            display: block;
            height: 7px;
            width: 60px;
            background: black;
            margin: 20px 0; }
        #top-section .contact-form .vc_column-inner .form-text p {
          font-weight: 300;
          font-size: 16px; }
      #top-section .contact-form .vc_column-inner .wpcf7 {
        margin-top: 5%; }
        #top-section .contact-form .vc_column-inner .wpcf7 .PE {
          display: flex;
          margin-bottom: 7%; }
          #top-section .contact-form .vc_column-inner .wpcf7 .PE .phone {
            width: 47%;
            margin-right: 3%; }
          #top-section .contact-form .vc_column-inner .wpcf7 .PE .email {
            width: 47%;
            margin-left: 3%; }
        #top-section .contact-form .vc_column-inner .wpcf7 p {
          font-weight: bold; }
          #top-section .contact-form .vc_column-inner .wpcf7 p span.asterisk:after {
            content: '*';
            display: inline;
            color: red; }
          #top-section .contact-form .vc_column-inner .wpcf7 p .wpcf7-form-control {
            border-radius: 0%;
            border: #d5d5d5 solid 1px;
            margin: 0 0 5%;
            padding: 5px; }
            #top-section .contact-form .vc_column-inner .wpcf7 p .wpcf7-form-control.wpcf7-submit {
              background: orange;
              color: white;
              width: 100%;
              height: 48px;
              font-size: 17px; }
  #top-section .img1 {
    width: 1100px;
    height: 800px; }
    #top-section .img1 .t-right {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; }
      #top-section .img1 .t-right div.head-text {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 73%;
        margin: 4% 0 0 6%;
        color: white; }
        #top-section .img1 .t-right div.head-text h3 {
          background-color: rgba(0, 0, 0, 0.844);
          font-size: 110px;
          font-weight: bolder;
          display: flex;
          justify-content: center;
          margin-bottom: -10px;
          padding: 10px; }
        #top-section .img1 .t-right div.head-text .H1 {
          width: 470px; }
        #top-section .img1 .t-right div.head-text .H2 {
          width: 590px; }
        #top-section .img1 .t-right div.head-text .H3 {
          width: 510px; }

#section2 {
  padding: 0%; }
  #section2 .i-cf {
    padding: 0%; }
    #section2 .i-cf .vc_column-inner {
      padding: 0%; }
      #section2 .i-cf .vc_column-inner .img2 {
        padding: 0%; }
        #section2 .i-cf .vc_column-inner .img2 img {
          width: 100%;
          height: 700px; }
      #section2 .i-cf .vc_column-inner .st2 {
        transform: translate(0px, -20px); }
        #section2 .i-cf .vc_column-inner .st2 h1 {
          margin-bottom: 30px;
          font-weight: bolder;
          font-size: 47.2px; }
          #section2 .i-cf .vc_column-inner .st2 h1 .underL {
            padding: 0 20px 25px 55px;
            background: linear-gradient(transparent 40%, yellow 40%); }
          #section2 .i-cf .vc_column-inner .st2 h1 .rest {
            right: 170px;
            position: absolute; }
        #section2 .i-cf .vc_column-inner .st2 .Tcontainer {
          margin: 5%;
          width: 85%; }
          #section2 .i-cf .vc_column-inner .st2 .Tcontainer .text {
            font-size: 23px;
            font-weight: 300;
            color: #494949;
            width: 100%; }

#section3 .i-cf {
  padding: 0%; }
  #section3 .i-cf .vc_column-inner {
    padding: 0%; }
    #section3 .i-cf .vc_column-inner .st3 {
      transform: translate(0px, -50px);
      padding: 8% 0 8% 7%;
      width: 100%;
      height: 900px;
      background: #f2f2f2; }
      #section3 .i-cf .vc_column-inner .st3 h1 {
        margin-bottom: 30px;
        font-weight: bolder;
        font-size: 47.2px; }
        #section3 .i-cf .vc_column-inner .st3 h1 .underL {
          margin-left: 5px;
          padding: 0 56px 20px 5px;
          background: linear-gradient(transparent 30%, yellow 30%); }
      #section3 .i-cf .vc_column-inner .st3 .text {
        font-size: 23px;
        font-weight: 300;
        color: #494949;
        width: 85%; }
        #section3 .i-cf .vc_column-inner .st3 .text:nth-of-type(1) {
          margin-top: 8%; }
    #section3 .i-cf .vc_column-inner .img3 {
      padding: 0%; }
      #section3 .i-cf .vc_column-inner .img3 img {
        width: 100%;
        height: 650px; }
    #section3 .i-cf .vc_column-inner .friedrich-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 350px;
      width: 580px; }
      #section3 .i-cf .vc_column-inner .friedrich-container .well-said, #section3 .i-cf .vc_column-inner .friedrich-container .name {
        color: darkgray;
        font-size: 35px;
        padding-right: 40px; }
        #section3 .i-cf .vc_column-inner .friedrich-container .well-said.well-said, #section3 .i-cf .vc_column-inner .friedrich-container .name.well-said {
          margin-bottom: 7%; }
      #section3 .i-cf .vc_column-inner .friedrich-container .name {
        justify-content: flex-end;
        display: flex;
        width: 90%; }

#OurMission {
  padding: 0%; }
  #OurMission .i-cf {
    padding: 0%; }
    #OurMission .i-cf section.bottom-container .bottom-text {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 10%; }
      #OurMission .i-cf section.bottom-container .bottom-text h1 {
        margin-bottom: 30px;
        font-weight: bolder;
        font-size: 47.2px; }
        #OurMission .i-cf section.bottom-container .bottom-text h1 .underL {
          padding: 0 30px 20px 50px;
          background: linear-gradient(transparent 40%, yellow 40%); }
      #OurMission .i-cf section.bottom-container .bottom-text .text {
        font-size: 23px;
        font-weight: 300;
        color: #494949;
        margin: 0 50px; }

footer {
  margin: 0 5% 5%; }
  footer hr {
    border: 1.3px #f2f2f2 solid;
    margin-bottom: 20px;
    background: #f2f2f2; }
  footer .footer-wrapper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%; }
    footer .footer-wrapper .site-branding {
      position: relative;
      left: 10%; }
      footer .footer-wrapper .site-branding img {
        width: 100px;
        height: 100px; }
    footer .footer-wrapper .link-container {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      width: 70%; }
    footer .footer-wrapper .box1, footer .footer-wrapper .box2, footer .footer-wrapper .box3 {
      padding: 20px;
      margin: 10px; }
      footer .footer-wrapper .box1 a, footer .footer-wrapper .box2 a, footer .footer-wrapper .box3 a {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: start;
        justify-content: start;
        color: #a16b05;
        padding: 10px;
        font-size: 20px;
        font-weight: 400; }
  footer .foot-text {
    color: #a7a4a4;
    padding: 10px;
    font-size: 18px;
    margin-top: 30px;
    line-height: 25px; }
    footer .foot-text .copyrgiht {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      color: #a7a4a4;
      padding: 10px;
      font-size: 18px;
      margin-top: 30px;
      line-height: 25px;
      padding: 0; }
      footer .foot-text .copyrgiht span {
        color: orange; }

/*# sourceMappingURL=style-lapraim.css.map */
