
/* VARS
 * =================================
 */
 $primary: black;

 $lightest-grey: #f8f8f8;
 $light-grey: #e8e8e8;
 $med-grey: #b8b8b8;
 $dark-grey: #333;
$cb: cubic-bezier(.49,.01,.22,1);

/* MIXINS
* =================================
*/
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

@mixin user-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin appearance($val) {
  -webkit-appearance: $val;
  -moz-appearance: $val;
  -ms-appearance: $val;
  -o-appearance: $val;
  appearance: $val;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {

  // Set a variable to be used by box-flex properties
  $fg-boxflex: $fg;

  // Box-Flex only supports a flex-grow value so let's grab the
  // first item in the list and just return that.
  @if type-of($fg) == 'list' {
    $fg-boxflex: nth($fg, 1);
  }

  -webkit-box-flex: $fg-boxflex;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg-boxflex;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin clip-path($clip...) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

@mixin animation($animation, $duration, $timing-function: false, $delay: false, $direction: false, $iteration-count: false) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-direction: $direction;
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-iteration-count: $iteration-count;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-direction: $direction;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-iteration-count: $iteration-count;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-direction: $direction;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
  }
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}

/* GENERAL
* =================================
*/
@charset "UTF-8";
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  // margin: 20px;
}
* {
  // position: relative;
  margin: 0;
  padding: 0;
  @include border-box;
  font-family: helvetica, arial, sans-serif;
  font-weight: unset;
}
a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  &:hover {
    color:red;
    text-decoration: none;
    cursor: pointer;
  }
}  
.hide,
.hidden {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  line-height: 1.15;
  margin-bottom: 15px;
  padding: 0;
  &.white {
    color: white;
  }
}
p, li {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 30px; 
  a {
    text-decoration: underline;
  }
  &.bold {
    font-weight: bold;
  }
  &.white {
    color: white;
  }
  &.sm {
    font-size: 17px;
  }
  &.xsm {
    font-size: 15px;
  }
}
ul {
  list-style: none;
  padding-left: 24px;
  li {
    &.subbullet {
      padding-left: 22px;
      margin-top: -10px;
      &:before {
        top: 12px;
        left: 0;
        width: 10px;
        height: 2px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 6px;
      width: 6px;
      background: black;
      left: -16px;
      top: 8px;
    }
    &.ast {
      left: -15px;
      &:before {
        display: none;
      }
    }
  }
}
a.button,
button.button,
span.button,
input[type="submit"].button {
  color: white;
  font-size: 17px;
  line-height: 1;
  text-decoration: none;
  background-color: $primary;
  padding: 16px 24px;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  min-width: 220px;
  white-space: nowrap;
  border: none;
  @include display-inline-flex;
  @include justify-content(center);
  @include align-items(center);
  @include transition(all .2s ease-in-out);
  cursor: pointer;
  &:before {
    display: none;
  }
  i {
    margin: 0 -10px 0 10px;
  }
}








// common //
@mixin HeadT{
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 47.2px; 
  @media all and (max-width: 1200px){
    font-size: 40px;
  }
  @media all and (max-width: 1023px){
    font-size: 55px;
  }
  @media all and (max-width: 800px){
    font-size: 42px;
  }
}

@mixin MainT{
  font-size: 23px;
  font-weight: 300;
  color: #494949;
}
/////// sidebar /////////
.side-link{
  .social{
    position: fixed;
    top: 32%;
    // top:20%;
    right: -50px;
    transform: rotateZ(90deg);
    background: orange;
    color: white;
    font-weight: bold;
    width: max-content;
    z-index: 2;

    // &.move {
    //   position: fixed;
    //   top: 220px;
    //   right: -50px;
    //   transform: rotateZ(90deg);
    //   background: orange;
    //   color: white;
    //   font-weight: bold;
    //   width: max-content;
    //   }

    .connect{
      border-bottom: white 2px solid;
      h4{
        font-size: 20px;
        padding: 15px;
        text-align: center;
      }
    }
    .icons{
      @include display-flex;
      div{
        border-bottom: white solid 2px;
        transform: rotateZ(-90deg);
        font-size: 20px;
        padding: 11px;
        width: 100%;
        text-align: center;
      }
    }
  }
}


/////// header //////////
header{
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  .yellow-back{
    position: absolute;
    background: yellow;
    clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
    height: 950px;
    top: 0;
    }
    .header-wraper{
      @include display-inline-flex;
      @include justify-content(space-between);
      align-items: center;      
      width: 100%;
      // height: 100%;
      position: absolute;
      margin-top: 3%;

      .site-branding{
        position: relative;
        left: 10%;
        width: 100px;
        height: 100px;
        margin: 10px;
      }
      .main-link{
        @include display-flex;
        @include justify-content(space-between);
        margin: 10px;
        padding: 6% 4% 0 0;
        width: 65%;
        font-weight: 600;
        font-size: 20px;
        span .link-name{
          margin: 10px;
      }
    }
  }
}

///// section1 /////////////////////////////////////////////////////////////////////
#section1{
  margin-bottom: 10%;
  margin-top: 7%;
  .g-cols{
    @include display-flex;
    @include justify-content(center);
////////////// form ///////////////////////
  .contact-form{
    transform: translate(70px, 175px);
    height: 720px;
    width: 370px;
    .vc_column-inner{
      padding: 8%;
      position: absolute;
      width: 520px;
      background: rgb(242, 242, 242);
      height: 100%;
      .form-text{
        margin: 5% 0;
        h1{
          font-size: 25px;
          font-weight: bold;
          &:after{
            content: '';
            display: block;
            height: 7px;
            width: 60px;
            background: black;
            margin: 20px 0;
          }
        }
        p{
          font-weight: 300;
          font-size: 16px;
        }
      }
      
      .wpcf7{
        margin-top: 5%;
        .PE{
          @include display-flex;
          margin-bottom: 7%;
          .phone{
            width: 47%;
            margin-right: 3%;
          }
          .email{
            width: 47%;
            margin-left: 3%;
          }
        }
        
          p{
            font-weight: bold;
            span.asterisk:after {
              content: '*';
              color: red;
            }
            .wpcf7-form-control{
              border-radius: 0%;
              border: #d5d5d5 solid 1px;
              margin: 0 0 5%;
              padding: 5px;
              &.wpcf7-submit{
                background: orange;
                color: white;
                width: 100%;
                height: 48px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }

/////////////////// image //////////////
    .img1{
      width: 1100px;
      height: 800px;
      .t-right{       
        @include display-flex;
        @include justify-content(center);
        div.head-text{
          @include display-flex;
          @include flex-direction(column);
          width: 73%;
          margin: 4% 0 0 6%;
          color: white;
          h3{
            @include display-flex;
            @include justify-content(center);
            background-color: rgba(0, 0, 0, 0.844);
            font-size: 110px;
            font-weight: bolder;
            margin-bottom: -10px;
            padding: 10px;
          }
          .H1{
            width: 470px;
          }
          .H2{
            width: 590px;
          }
          .H3{
            width: 510px;
          }
        }
      }   
    }
  }




//////////////////// section 2 ///////////////////////////////////////////////////////////////////////
#section2{
  padding: 0%;
  .i-cf{
    padding: 0%;
    .vc_column-inner{
      padding: 0%;
      .img2{
        padding: 0%;
        img{
          width: 100%;
          height: 700px;
        }
      }

      .st2{
        transform: translate(0px, -20px);
        .Head{
          @include HeadT;
          .underL{
            padding: 0 20px 25px 55px;
            background: linear-gradient(transparent 40%, yellow 40%);
          }
          .rest{
            margin-left: -20px;
          }
        }
        .Tcontainer{
          margin: 5%;
          width: 85%;
          .text{
            @include MainT;
            width: 100%;
          }
        }
      }

    }
  }
}


///////////////////////////////////////// section 3 //////////////////////////////////////////////////////////////////////
#section3{
  .i-cf{
    padding: 0%;
    .vc_column-inner{
      padding: 0%;
        .st3{
          transform: translate(0px, -50px);
          padding: 8% 0 8% 7%;
          width: 100%;
          height: 900px;
          background: rgb(242, 242, 242);
          @media all and (max-width: 1023px){
            padding: 4% 4% 0 4%;
          }
          .Head{
            @include HeadT;
            .underL{
              margin-left: 5px;
              padding: 0 56px 20px 5px;
              background: linear-gradient(transparent 30%, yellow 30%);
            }
          }
          .text{
            @include MainT;
            width: 85%;
            &:nth-of-type(1){
              margin-top: 8%;
            }
          }
        }
      

      .img3{
        padding: 0%;
        img{
          width: 100%;
          height: 650px;
        }

      }
      .friedrich-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 350px;
        width: 580px;
        .well-said, .name{
          color: darkgray;
          font-size: 35px;
          padding-right: 40px;
          &.well-said{
            margin-bottom: 7%;
          }
        }
        .name{
          justify-content: flex-end;
          display: flex;
          width: 90%;
        }
      }
    }
  }
}


///////////////////////////////////////////////////// section 4 /////////////////////////////////////////////////////////////////////////////
#section4{
  padding: 0%;
  .i-cf{
    padding: 0%;
      .st4{
        @include display-flex;
        @include flex-direction(column);
        margin-bottom: 10%;
        .Head{
          @include HeadT;  
          .underL{
            padding: 0 30px 20px 50px;
            background:linear-gradient(transparent 40%, yellow 40%);
          }
        }
        .text{
          @include MainT;        
          margin: 0 50px;
        }
      }
    }
  }


//////////////////// footer  ///////////////////////////
footer{  
  padding: 0 5% 5%;
    hr{
      border: 1.3px #f2f2f2 solid;
      margin-bottom: 20px;
      background: #f2f2f2;
    }
    .footer-wrapper{
      @include display-inline-flex;
      @include align-items(center);
      @include justify-content(space-between);
      width: 100%;
      .site-branding{
        position: relative;
        left: 10%;
        img{
          width: 100px;
          height: 100px;
        }
      }
      .link-container{
        @include display-flex;
        @include justify-content(space-around);
        width: 70%;
        }
      @mixin box{
        padding: 20px;
        margin: 10px;
      }
      .box1, .box2, .box3{
        @include box;
        a{
          @include display-flex;
          @include justify-content(start);
          color:rgb(161, 107, 5);
          padding: 10px;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
    @mixin Foot {
      color: #a7a4a4;
      padding: 10px;
      font-size: 18px;
      margin-top: 30px;
      line-height: 25px;
      }
    .foot-text{
      @include Foot;
      .copyrgiht{
        @include display-flex;
        @include justify-content(space-between);
        @include Foot;
        padding: 0;
        span{
          color:orange;
        }
      }
    }
  }





/////////// responsive /////////////

@media all and (max-width: 1422px){
  #section1{
    .i-cf{
      .g-cols{
        .contact-form{
          transform: translate(10px, 175px);
          width: auto;
          .vc_column-inner{
          .wpb_wrapper{
              padding: 5%;
            }
          }
        }
          .img1{
            .wpb_wrapper{
              display: flex;
              justify-content: flex-end;
              .head-text{
                width:auto;
            }    
          }
        }
      }
    }
  }
  header .yellow-back{
    clip-path: polygon(0 17%, 100% 0%, 100% 92%, 0% 100%);
    height: 1050px;
  }
}

@media all and (max-width: 1139px){
  #section1{
    .img1{
      width: 1050px;
        .wpb_wrapper{
          .t-right{
            .head-text{
              h3{
                font-size:90px;
            }
              .H2{
                width: 570px;
            }
          }    
        }
      }
    }
  }
}


@media all and (max-width: 1023px){
  #section1{
    .i-cf{
      .g-cols{
        .contact-form{
          transform: translate(100px, 52%);
          z-index: 1;
        }
        .img1{
          width: 100%;
        }
      }
    }
  }


  #section2,#section3{
    
    .left-column{
      width: 100%;
      height: auto;
    }
    .right-column{
      width: 100%;
      height: auto;
    }
  }

  #section3{
    .g-cols{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    }
  }
  #section4{
    .bottom-column{
      width: 100%;
    }
  }
}

@media all and (max-width: 900px){
}


@media all and (max-width: 767px){
  }


@media all and (max-width: 600px){
  #section1{
    .i-cf{
      .g-cols{
        .contact-form{
          transform: translate(30px, 52%);
        }
      }
    }
  }
}